<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Search" thread-count="3" parallel="tests">
    <test name="SearchonChrome">
        <parameter name="browser" parallel="tests" value="Chrome"></parameter>
        <classes>
            <class name="TestCase.SearchiPhone"></class>
        </classes>
    </test>
    <test name="SearchonFirefox">
        <parameter name="browser" value="Firefox"></parameter>
        <classes>
            <class name="TestCase.SearchiPhone"></class>
        </classes>
    </test>
    <test name="SearchonSafari">
        <parameter name="browser" value="Safari"></parameter>
        <classes>
            <class name="TestCase.SearchiPhone"></class>
        </classes>
    </test>
</suite>